# Generic ones
.DS_Store
.vagrant
drupal/current
drupal/builds
drupal/.make_cache
drupal/drupal.sqlite
.idea
ansible
local.*
test/composer.lock
test/vendor
test/bin
VERSION

# Ignore ansible retry files
conf/*.retry

# Ignore secrets folder
secrets

# Ignore python virtualenv created by provision.sh
.virtualenv

# Ignore scaffold files
# Use post-install and post-update commands to run @drupal-scaffold
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc
/web/.eslintrc.json
/web/.gitattributes
/web/.htaccess
/web/.ht.router.php
/web/index.php
/web/robots.txt
/web/sites/default/default.settings.php
/web/sites/default/default.services.yml
/web/sites/development.services.yml
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/update.php
/web/web.config
/web/sites/*/settings.local.php
/web/_ping.php